server:
  port: 8082
balance:
  url: ${BALANCE_URL:http://localhost:8080}
client:
  thread-count: 10
  read-quota: 100
  write-quota: 1
  id-to-index: 1 # client gets random account ids from lists containing all the existing ids;
                  # this param helps to adjust this randomness and take ids from the sublist
                  # with 'id-to-index' length
